@font-face {
    font-family: "Montserratregular";
    font-weight: normal;
    font-style: normal;
    src: url("fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "Montserratmedium";
    font-weight: normal;
    font-style: normal;
    src: url("fonts/Montserrat-Medium.woff") format("woff");     
}

@font-face {
    font-family: "Montserratbold";
    font-weight: normal;
    font-style: normal;
    src: url("fonts/Montserrat-Bold.woff") format("woff");
}
