.header__logo {
  font-family: 'Montserratmedium', Arial, Helvetica, sans-serif;
}

.header__language {
  font-family: 'Montserratmedium', Arial, Helvetica, sans-serif;
}

.bag__title {
  font-family: 'Montserratbold', Arial, Helvetica, sans-serif;
  font-size: 80px;
}

.bag__description {
  font-family: 'Montserratregular', Arial, Helvetica, sans-serif; 
}

.bag__buttons {
  font-family: 'Montserratmedium', Arial, Helvetica, sans-serif;    
}